---
// El frontmatter es solo para codigo que ejecuta en servidor (imports, apis, renderizado en servidor, etc), para scripts hacen falta etiqetas script.
import Layout from '../layouts/Zoco_layout.astro';
import Gafa_card from '../components/Gafa_card.astro';
---
<Layout title="Inicio">
	<div class="divSupremo">
		<div class="divSuperior">
			<input id="menuToggle" class="menuCheckbox" type="checkbox" /><!--este es el boton hamburguesa que se ve en movil, y que al hacer click activa el checkbox y despliega el menu-->
			<label class="menuToggle" for="menuToggle" aria-label="Abrir o cerrar menú">
				<span></span>
				<span></span>
				<span></span>
			</label>
			<nav class="menuSuperior">
				<ul class="menuSuperiorUl">
					<li><a href="#">HOME</a></li>
					<li><a href="#">OPTICAL</a></li>
					<li><a href="#">SUN</a></li>
					<li><a href="#">ABOUT</a></li>
				</ul>
			</nav>
			<div class="logoLandpage">
				<img id="logoBtnLandpage" src="/zoco-logos-blanco.png" alt="Logo_zoco" />
			</div>
		</div>


		<div class="videoFondo">
			<video autoplay muted loop>
				<source src="/videoPromo.mp4" type="video/mp4" />
			</video>
			<div class="videoFondoText">Summer season '26</div>
		</div>
	</div>

	<div>
		<p class="tituloSeccion">Best Sellers</p>
		<p class="subtituloSeccion">Descubre los modelos preferidos de ZOCO</p>
	</div>

	<div class="Gafa_cards">

		<Gafa_card 
			titulo="Nutmeg"
			imagen="/public/sunLenses/Nutmeg.png"
			precio="79.00€"
		/>
		<Gafa_card 
			titulo="Ducat"
			imagen="/public/sunLenses/Ducat.png"
			precio="79.00€"
		/>
		<Gafa_card 
			titulo="Parsley"
			imagen="/public/sunLenses/Parsley.png"
			precio="79.00€"
		/>
		<Gafa_card 
			titulo="Scudo"
			imagen="/public/sunLenses/Scudo.png"
			precio="79.00€"
		/>
	</div>

	<div>
		<p class="tituloSeccion">New Arrivals</p>
	</div>

	<div class="ModeloPromo">
		<img src="/public/Modelo/Modelo1.png" alt="ModeloPromo" class="ModeloPromoImg"/>
		<img src="/public/zoco-logos-blancos-06.png" alt="Logo_Zoco" class="Logo_zoco_montado"/>
	</div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maiores illum architecto est ratione accusantium! Magnam explicabo error ullam. 
		Non explicabo, excepturi ut minima eveniet exercitationem nihil in. Est, aliquid?
				lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
		lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
		lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
		lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maiores illum architecto est ratione accusantium! Magnam explicabo error ullam. 
		Non explicabo, excepturi ut minima eveniet exercitationem nihil in. Est, aliquid?
	</div>
	<script>
		import "../scripts/landpage_scripts.js";
	</script>
</Layout>

