---
// El frontmatter es solo para codigo que ejecuta en servidor (imports, apis, renderizado en servidor, etc), para scripts hacen falta etiqetas script.
import Layout from '../layouts/Zoco_layout.astro';
import Gafa_card from '../components/Gafa_card.astro';
import Footer_component from '../components/Footer_component.astro';
---
<Layout title="Inicio">
	<div class="divSupremo">
		<div class="divSuperior">
			<input id="menuToggle" class="menuCheckbox" type="checkbox" /><!--este es el boton hamburguesa que se ve en movil, y que al hacer click activa el checkbox y despliega el menu-->
			<label class="menuToggle" for="menuToggle" aria-label="Abrir o cerrar menú">
				<span></span>
				<span></span>
				<span></span>
			</label>
			<span class="ubicacionLogo tooltip" data-tooltip="Encuentra tu tienda más cercana">
				<img src="/ubicacion.png" alt="Ubicacion" />
			</span>
			<nav class="menuSuperior">
				<ul class="menuSuperiorUl">
					<li><a href="/optical">OPTICAL</a></li>
					<li><a href="#">SUN</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="/stores">STORES</a></li>
				</ul>
			</nav>
			<div class="logoLandpage">
				<img id="logoBtnLandpage" src="/zoco-logos-blanco.png" alt="Logo_zoco" />
			</div>
		</div>


		<div class="videoFondo">
			<video autoplay muted loop>
				<source src="/videoPromo.mp4" type="video/mp4" />
			</video>
			<div class="videoFondoText">Summer season '26</div>
		</div>
	</div>

	<div>
		<h1 class="tituloSeccion">Best Sellers</h1>
		<p class="subtituloSeccion">Descubre los modelos preferidos de ZOCO</p>
	</div>

	<div class="Gafa_cards">

		<Gafa_card 
			titulo="Nutmeg"
			imagen="/public/sunLenses/Nutmeg.png"
		/>
		<Gafa_card 
			titulo="Ducat"
			imagen="/public/sunLenses/Ducat.png"
		/>
		<Gafa_card 
			titulo="Parsley"
			imagen="/public/sunLenses/Parsley.png"
		/>
		<Gafa_card 
			titulo="Scudo"
			imagen="/public/sunLenses/Scudo.png"
		/>
	</div>

	<div>
		<h1 class="tituloSeccion">New Arrivals</h1>
	</div>

	<div class="ModeloPromo">
		<img src="/public/Modelo/Modelo1.png" alt="ModeloPromo" class="ModeloPromoImg"/>
		<img src="/public/zoco-logos-blancos-06.png" alt="Logo_Zoco" class="Logo_zoco_montado"/>
	</div>
		<h1>ZOCOLECTIONS</h1>
	</div>



	<script>
		import "../scripts/landpage_scripts.js";
	</script>
</Layout>

