---

import Layout from '../layouts/Layout.astro';
import '../styles/global.css'; 
---

<Layout title="Optical lenses">
    <div class="divSupremoOptical">
        <img src="/public/zoco-logos-byn.png" alt="Optical Lens 1" />
        <nav>
            <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="/optical">OPTICAL</a></li>
                <li><a href="#">SUN</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </nav>

    </div>
</Layout>